
@import "../bower_components/normalize-css/normalize.css";
@import "../bower_components/typeplate-starter-kit/css/typeplate.css";

/**
 * BOX-SIZING
 */

*,
*:before,
*:after {
    box-sizing: border-box;
    transition-delay: 0s;
    transition-duration: 0.25s;
    transition-property: opacity, transform, color, background-color, border-color, z-index, background-image;
    transition-timing-function: ease;
}

/**
 * GRIDS
 */

.grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    > * {
        flex: 1;
        flex-basis: 100%;
    }
}

@define-mixin grid_r $col, $width {
    @media only screen and (min-width: $(width)px) {
        .grid-$(col)-$(width) {
            & > * {
                flex-basis: calc(100 / $col)%;
            }
            @mixin-content;
        }
    }
}

@define-mixin grid $col {
    .grid-$(col) {
        & > * {
            flex-basis: calc(100 / $col)%;
        }
        @mixin-content;
    }
}

@mixin grid 2 {}
@mixin grid 4 {}
@mixin grid 6 {}

@mixin grid_r 2, 400 {}
@mixin grid_r 2, 800 {}

@mixin grid_r 4, 400 {}
@mixin grid_r 4, 800 {}


/**
 * PACE (automatic pre-loader thingy)
 */

.pace {
    pointer-events: none;
    user-select: none;
    transition: all 1s ease;
    .pace-progress {
        background: #2299dd;
        position: fixed;
        z-index: 2000;
        top: 0;
        right: 100%;
        width: 100%;
        height: 2px;
        transition: all 1s ease;
    }
}

.pace-inactive {
    opacity: 0;
}

.pace-active {
    opacity: 1;
}
/**
 * GENERAL
 */

img {
    max-width: 100%;
}
/**
 * YOUR CODE HERE
 */



/*////////////NAV CODE/////////////////*/
body {
width: 100%;
height: 100%;
background-color: crimson;
}

.nav-container {
    position: fixed;
    width: 100%;
}

a {
    color: #d9d9d9;
}

.nav {
    list-style: none;
    background-color: #343436;
    padding: 0;
    margin: 0;
    /*text-align: center;*/
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}

.nav1, .nav2 {
    flex: 1 1 100%;
    border: 1px solid black;
    margin: 0;
    overflow: hidden;
    text-align: center;
}

/*////////////Landing/////////////////*/
.landing {
    background-color: white;
    text-align: center;
}

/*////////////MAIN BODY/////////////////*/
.main-body{
    display: flex;
    flex-direction: column;
}

 #skills {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
 }

.skill {
    text-align: center;
    flex: 1 1 100%;
}
.skill-desc {
    text-align: justify;
    margin: 2.5%;
}

 .html-pic {
    width: 40%;
    height: 40%;
    margin-top: 1%;
 }

 .mobile-pic {
    margin-top: 1%;
    width: 40%;
    height: 40%;
 }

 #projects {
    background-color: orange;
    flex: 1 1 100%;
 }

/*////////////ABOUT/////////////////*/
#about-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #999999;
}

.prof-pic {
    flex: 0 1 20%;
    width: 25%;
    height: 25%;
}

.desc-container {
    flex: 1 1 75%;
    padding-left: 2.5%;
}

.email {
    display: flex;
}
/*////////////SOCIAL/////////////////*/
.social-media {
    background-color: crimson;
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
}

.icons {
    list-style: none;
    display: flex;
    justify-content: center;
    /*margin: 0;*/
    padding: 0;

}

.twitter, .github, .linkedin {
    flex: 0 1 25%;
    text-align: center;
}


